<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block tailwind_link %}{% endblock tailwind_link %}
        {% block bootstrapcss %}{% endblock bootstrapcss %}
        {% block link %}{% endblock link %}
        {% block title %}{% endblock title %}
    </head>
    <body>
        {% block contant %}{% endblock contant %}
        {% block slider %}{% endblock slider %}
        {% block boothstrap_script %}{% endblock boothstrap_script %}
    </body>
</html>