* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    background-image: url("../image/tile3.jpg");
    background-size: cover;
    background-color: rgba(255,255,255, 0.5);
}
.wrapper{
    margin-top: 100px;
    margin-right: -700px;
    background-color: peru;
    width: 400px;
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 35px;
    text-align: center;
    color: #fff;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}




.remember_forget {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0px 15px;
}

.rememeber_forget label input {
    accent-color: #fff;
    margin-right: 3px;
}


.rememeber_forget a {
    text-decoration: none;
    color: #fff;
    margin-left: 70px;
    font-size: 15px;
}
.rememeber_forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: bisque;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: peru;
}

.register_link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0px 15px;
}

.register_link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;   
}

.register_link p a:hover{
    text-decoration: underline;
}